.container{
    width: 100%;
    height: 100vh;
}
.bannerContainer{
    width: 100%;
    height: 35vh;
    overflow: hidden;
    position: relative;
    z-index: -2;
}
.bannerContainer::before{
    content: 'CONTACT US';
    font-size: 5rem;
    padding: 4rem 0rem;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0.7;
    z-index: 2;
}

.articleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25rem;
}


@media screen and (max-width: 1024px) {
    .container{
        height: 150vh;
    }
    .bannerContainer::before{
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .container{
        height: 150vh;
    }
    .bannerContainer::before{
        font-size: 3rem;
    }
}