.pageContainer{
    padding: 3.125 rem;
}

.confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirmation h1{
    color: #bf7e78;
    text-align: center;
}

.confirmation span{
    font-weight: 400;
}

.summary{
    margin-top: 2rem;
    background-color: #bf7e78;
    color:#000000;
    font-weight: 500;
    padding-left: 0.625rem;
    width: 100%;
}

.orderContainer{
    padding: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    flex: 2;
}

.right{
    flex: 1;
}

.table{
    width: 100%;
    border-spacing: 20px;
}

.table td{
    text-align: center;
}

.imgContainer{
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.name{
    font-weight: 500;
    color: #bf7e78;
    font-size: 1rem;
}

.total{
    font-weight: 500;
    font-size: 1rem;
}

.wrapper{
    width: 90%;
    max-height: 18.75rem;
    background-color: #bf7e78;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
}

.totalTextTitle{
    margin-right: 0.625rem;
}

.button{
    height: 1.875rem;
    background-color: #d9b2a9;
    color: #000000;
    font-weight: 300;
    cursor: pointer;
    margin-top: 1.25rem;
}

@media screen and (max-width: 1024px) {
    .orderContainer{
        flex-direction: column;
    }
    .wrapper{
        width: 100%;
        margin-top: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .orderContainer{
        flex-direction: column;
        padding: 1.25rem;
    }

    .table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .trTitle{
        display: none;
    }

    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.25rem;
    }

    .imgContainer{
        width: 50vw;
        height: 30vh;
    }
    .name, .total {
        font-size: 1.25rem;
    }

    .price, .quantity {
        font-size: 1rem;
    }

    .price::before{
        content: "Price: ";
        font-weight: 500;
    }

    .quantity::before{
        content: "Quantity: ";
        font-weight: 500;
    }

    .total::before{
        content: "Total: ";
        font-weight: 500;
    }

    .wrapper{
        width: 100%;
    }
}